[Unit]
Description=Backup Gitlab CE

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash /home/core/etc/scripts/backup-gitlab.sh

[Install]
WantedBy=multi-user.target
