[Unit]
Description=Update ssl certificates
Wants=certbot-renew.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /home/core/etc/scripts/certbot-renew.sh

[Install]
WantedBy=multi-user.target
