[Unit]
Description=Update ssl certificates

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash /home/core/etc/scripts/certbot-renew.sh

[Install]
WantedBy=multi-user.target
